@import "base.css";
@font-face {
    font-family: 'iconfont';  /* project id 533137 */
    src: url('http://at.alicdn.com/t/font_533137_rai8qrndoz4lhaor.eot');
    src: url('http://at.alicdn.com/t/font_533137_rai8qrndoz4lhaor.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_533137_rai8qrndoz4lhaor.woff') format('woff'),
    url('http://at.alicdn.com/t/font_533137_rai8qrndoz4lhaor.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_533137_rai8qrndoz4lhaor.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont';
    font-style: normal;
    font-size: 1rem;
}
body{
    height: 100rem;
    background: #F6F7F9;
}
header{
    width: 100%;
    height: 2.5rem;
    background: gray;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
header .title{
    width: 100%;
    height: 0.5rem;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    line-height: 1.8rem;
    margin-top: 0.4rem;
}
header nav a{
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    padding: 0 0.1rem;
    box-sizing: border-box;
    margin-top: 0.2rem;
    display: block;
    display: flex;
    justify-content: space-between;
}
header nav i{
    color: #fff;
    font-size: 0.26rem;
    position: relative;
}
header nav i ul{
    width: 1rem;
    height: 0;
    background: #fff;
    position: absolute;
    left: -0.35rem;
    /*bottom: -2.7rem;*/
    z-index: 2;
    overflow: hidden;
}
header nav i ul li{
    width: 100%;
    text-align: center;
}
header nav i ul li a{
    color: #000;
    font-size: 0.2rem;
}
/*头部结束*/
.box{
    width: 100%;
    padding: 0 0.2rem;
    box-sizing: border-box;
    margin-top: 3rem;
    font-size: 1rem;
    color: #313031;
    font-weight: lighter;

}
.box a img{
    display: block;
    width: 100%;
    padding:0.6rem 0;
}
.box .biank{
    border: 0.5rem solid #ffff;
}
a{
    display: block;
}
.pinglun{
    width: 100%;
    border: 0.2rem solid #fff;
}
.pinglun div{
    font-size: 0.5rem;
    color: #cccccc;
    padding:0 0.5rem;
}
.pinglun ul{
    width: 100%;
    height: auto;
    padding:0 0.2rem;
    display: flex;
    justify-content: space-between;
}
.pinglun li{
    width: 33.3333333%;
    padding: 0.5rem 0;
    border-top:  0.1rem solid #fffff;
    border-bottom:  0.1rem solid #fffff;
}
.pinglun i{
    padding:0 0.2rem;
    font-size: 1.5rem;
}
/*返回顶部*/
.top{
    width: 0.5rem;
    height: 0.5rem;
    position: fixed;
    right: 2.5rem;
    bottom: 5rem;
    z-index: 1;

}

.top i{
    font-size: 2rem;
    color: skyblue;
}
/* 底部 */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.61rem;
    border-top: 0.02rem solid #b5b2b5;
    display: flex;
    background: gray;
    box-sizing: border-box;
}
footer li{
    width: 20%;
    height: 100%;
}
footer li i{
    display: block;
    font-size: 0.5rem;
    color: #fff;
    text-align: center;
    line-height: 0.6rem;
    padding: 0.1rem;
}
footer li p{
    font-size: 0.32rem;
    color:#fff;
    text-align: center;
    line-height: 0.7rem;
    padding-top: 0.05rem;
}
.action i{
    color: #ccc;
}
.action p{
    color: #ccc;
}
